.product {
    position: relative;
    width: 100%;
    text-align: left;
    margin: 0 auto;
}
.product-image {
    height: 150px;
    width: 100%;
    object-fit: cover;
}
.product > p {
    color: #888888;
    line-height: 16px;
    font-size: 12px;
}
.product-name {
    font-size: 14px !important;
    margin-top: 14px;
    margin-bottom: 10px;
}
.product-description {
    margin: 0;
}
.product-oldPrice {
    margin-top: 10px;
    margin-bottom: 6px;
}
.product-price {
    font-size: 16px !important;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 7px;
}
.product-installments {
    margin: 0;
}
.product-button {
    width: 100% !important;
    height: 30px !important;
    margin-top: 10px !important;
}
